{% extends 'partials/base.html' %}
{% block title %}LOGOUT Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Logout Page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>ÇIKIŞ YAPTINIZ(YOU HAVE LOG OUT)</h4>
                    </div>
                    <a href="{% url 'user-login' %}">LOGİN</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}